.CodeMirror,
.ReactCodeMirror {
  position: relative;
  bottom: 0;
  height: 100%;
  z-index: 0;
}

.CodeMirror-hscrollbar {
  overflow-x: hidden !important;
}

.cm-s-dracula span.cm-string,
.cm-s-dracula span.cm-string-2 {
  color: #32d296;
}
