.cm-s-dracula.CodeMirror,
.cm-s-dracula .CodeMirror-gutters {
  background: #000000 !important;
}

.CodeMirror-cursor {
  border-left-color: #fff !important;
}

.CodeMirror-cursor.result-window .CodeMirror-gutters {
  width: 1px;
  z-index: 0;
}

.CodeMirror-vscrollbar {
  bottom: 1px !important;
}

.CodeMirror {
  font-size: 14px;
}
